* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/Metropolis/Metropolis-SemiBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/openSans/open-sans-v43-latin-regular.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/openSans/open-sans-v43-latin-300.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/openSans/open-sans-v43-latin-700.woff2')
    format('woff2');
}

body {
  margin: 0;
  font-family: 'Metropolis', sans-serif;
}
